<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>Unicorn list</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-searchbar></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<!-- <ion-header collapse="condense"> -->
	<!-- 	<ion-toolbar> -->
	<!-- 		<ion-title size="large">Unicorns</ion-title> -->
	<!-- 	</ion-toolbar> -->
	<!-- 	<ion-toolbar> -->
	<!-- 		<ion-searchbar></ion-searchbar> -->
	<!-- 	</ion-toolbar> -->
	<!-- </ion-header> -->
	<ion-content>
		<!-- <ion-grid> -->
		<!-- 	<ion-row> -->
		<!-- 		<ion-col size="12" *ngFor="let unicorn of unicornService.unicornList; index as position"> -->
		<!-- 			<ion-card> -->
		<!-- 				<ion-item> -->
		<!-- 					<ion-label>{{ unicorn.name }}</ion-label> -->
		<!-- 					<ion-button fill="outline" slot="end" (click)="displayUnicornInfo(unicorn)">View</ion-button> -->
		<!-- 					<ion-icon name="trash" slot="end" (click)="displayUnicornInfo(unicorn)"></ion-icon> -->
		<!-- 				</ion-item> -->


		<!-- 				<!-1- <ion-card-content> -1-> -->
		<!-- 				<!-1- 	<ion-img -1-> -->
		<!-- 				<!-1- 		[src]="'https://place-hold.it/500x500/'+getHexColor(unicorn)+getFontAndText(unicorn)" -1-> -->
		<!-- 				<!-1- 		(click)="showActionSheet(unicorn, position)"></ion-img> -1-> -->
		<!-- 				<!-1- 	<!-2- This is content, without any paragraph or header tags, -2-> -1-> -->
		<!-- 				<!-1- 	<!-2- within an ion-card-content element. -2-> -1-> -->
		<!-- 				<!-1- </ion-card-content> -1-> -->
		<!-- 			</ion-card> -->
		<!-- 		</ion-col> -->
		<!-- 	</ion-row> -->
		<!-- </ion-grid> -->
		<ion-list>
			<!-- <ion-img -->
			<!-- 		slot="start" -->
			<!-- 	[src]="'https://place-hold.it/50x50/'" -->
			<!-- ></ion-img> -->
			<!-- <ion-item> -->
			<!-- 	<ion-label>Card Button Item 2</ion-label> -->
			<!-- 	<ion-label>Card Button Item 2</ion-label> -->
			<!-- </ion-item> -->
			<!-- <ion-label>Pokémon Yellow</ion-label> -->
			<ion-item class="list-item" *ngFor="let unicorn of unicornService.unicornList" (click)="displayUnicornInfo(unicorn)">
				<ion-avatar slot="start" class="avatar" [style]="'background-color:#'+getHexColor(unicorn)+';'">
					<img src="assets/images/unicorn-avatar.png" />
					<ion-badge
						class="unicorn-gender-icon"
						*ngIf="getBadgeColor(unicorn) !== 'dark'"
						[color]="getBadgeColor(unicorn)"
						horizontal="end"
						vertical="bottom"
					>
						<ion-icon></ion-icon>
					</ion-badge>
				</ion-avatar>
				<ion-label>
					<h2>{{ unicorn.name }}</h2>
					<h3 class="unicorn-label-subtitle">{{ unicorn.age }}</h3>
				</ion-label>
			</ion-item>
		</ion-list>
		<ion-fab vertical="bottom" horizontal="end" slot="fixed">
			<ion-fab-button (click)="openAddUnicornModal()">
				<ion-icon name="add-outline"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<ion-fab vertical="bottom" horizontal="start" slot="fixed">
			<ion-fab-button (click)="unicornService.mateRandomUnicorns()">
				<ion-icon name="git-merge-outline"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<ion-modal
			[isOpen]="isUnicornInfoModalOpen"
			[breakpoints]="[0,0.8]"
			[initialBreakpoint]="0.8"
			(didDismiss)="isUnicornInfoModalOpen = false"
		>
			<ng-template>
				<app-unicorn-info [unicorn]="selectedUnicorn"></app-unicorn-info>
			</ng-template>
		</ion-modal>
	</ion-content>

</ion-content>
