<ion-header translucent>
	<ion-toolbar *ngIf="stateIs(enumUiState.browsing)">
		<ion-buttons slot="secondary">
			<ion-button (click)="startMatingProcess()">
				<ion-icon slot="icon-only" name="heart-half-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title>Unicorn manager</ion-title>

		<ion-buttons slot="primary">
			<ion-button (click)="startDeletingProcess()">
				<ion-icon slot="icon-only" name="trash"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar *ngIf="stateIs(enumUiState.browsing)">
		<ion-searchbar #searchBar (ionInput)="processSearchBarChange($event)"></ion-searchbar>
	</ion-toolbar>
	<ion-toolbar *ngIf="stateIs(enumUiState.mating)">
		<ion-buttons slot="secondary">
			<ion-button (click)="setState(enumUiState.browsing)">
				<ion-icon slot="icon-only" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title>Select first unicorn</ion-title>
	</ion-toolbar>
	<ion-toolbar *ngIf="stateIs(enumUiState.waitingForSecondMate)">
		<ion-buttons slot="secondary">
			<ion-button (click)="setState(enumUiState.browsing)">
				<ion-icon slot="icon-only" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title>Select second mate</ion-title>
	</ion-toolbar>
	<ion-toolbar *ngIf="stateIs(enumUiState.deleting)">
		<ion-buttons slot="secondary">
			<ion-button (click)="setState(enumUiState.browsing)">
				<ion-icon slot="icon-only" name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>

		<ion-title>Delete</ion-title>

		<ion-buttons slot="primary">
			<ion-button *ngIf="isDeleteSelectionValid" (click)="deleteSelectedUnicorns()">
				<ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
	<ion-content>
		<ion-list *ngIf="!noUnicornsToDisplay">
			<ng-container *ngFor="let unicorn of unicornList">
				<ion-item class="list-item" *ngIf="shouldDisplayUnicorn(unicorn)" [ngClass]="{'selected': unicorn === FirstMate}">
					<ion-checkbox *ngIf="shouldDisplayCheckbox(unicorn)" (ionChange)="selectUnicorn(unicorn)" slot="start"></ion-checkbox>
					<ion-avatar slot="start" class="avatar" [style]="'background-color:#'+getHexColor(unicorn)+';'">
						<img src="assets/images/unicorn-avatar.png" />
						<ion-badge
								class="unicorn-gender-icon"
								*ngIf="getBadgeColor(unicorn) !== 'dark'"
								[color]="getBadgeColor(unicorn)"
								horizontal="end"
								vertical="bottom"
								>
								<ion-icon></ion-icon>
						</ion-badge>
					</ion-avatar>
					<ion-label>
						<h2>{{ unicorn.name }}</h2>
						<h3 class="unicorn-label-subtitle">{{ unicorn.age }}</h3>
					</ion-label>
					<ion-button *ngIf="stateIs(enumUiState.browsing)" fill="outline" slot="end" (click)="displayUnicornInfo(unicorn)">View</ion-button>
				</ion-item>
			</ng-container>
		</ion-list>
		<ion-item *ngIf="noUnicornsToDisplay">
			<span *ngIf="isSearchEmpty">No unicorns to display. Feel free to recruit ;D</span>
			<span *ngIf="!isSearchEmpty">No unicorn with that name.</span>
		</ion-item>
		<ion-fab vertical="bottom" horizontal="center" slot="fixed">
			<ion-fab-button (click)="openAddUnicornModal()">
				<ion-icon name="add-outline"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<!-- <ion-fab vertical="bottom" horizontal="start" slot="fixed"> -->
		<!-- 	<ion-fab-button (click)=""> -->
		<!-- 		<ion-icon name="git-merge-outline"></ion-icon> -->
		<!-- 	</ion-fab-button> -->
		<!-- </ion-fab> -->
		<ion-modal
			[isOpen]="isUnicornInfoModalOpen"
			[breakpoints]="[0,1]"
			[initialBreakpoint]="1"
			(didDismiss)="isUnicornInfoModalOpen = false"
		>
			<ng-template>
				<app-unicorn-info [unicorn]="selectedUnicorn"></app-unicorn-info>
			</ng-template>
		</ion-modal>
	</ion-content>
</ion-content>
