ion-card.unicorn-info{
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
	overflow: visible;
	// margin: 16px 0 24px;
	position: relative;
	padding-top: 60px;
	margin-top: 50px !important;

	.img-wrapper {
		position: absolute;
		left: 50%;
		top: -30px;
		transform: translateX(-50%);
		img {
			border-radius: 50%;
			width: 80px;
			height: 80px;
		}

		.unicorn-gender-icon {
			border-radius: 50%;
			--border-width: 1px;
			--border-color: var(--ion-color-light-shade);
			--border-style: solid;
			--padding-start: 0;
			--padding-end: 0;
			--padding-bottom: 0;
			--padding-top: 0;

			--border-radius: 50%;
			height: 26px;
			width: 26px;

			position: absolute;
			right: 0px;
			bottom: 0px;

			ion-icon {
				width: 14px;
				height: 14px;
			}
		}
	}
}
